* {
  margin: 0;
  padding: 0;
}

.slick-next {
  right: -70px;
}
.slick-prev {
  left: -70px;
}

@media (max-width: 768px) {
  .fadein {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1000ms;
  }

  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }

  .slider {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slick-next {
    right: -70px;
  }
  .slick-prev {
    left: -70px;
  }
}

@media (min-width: 769px) {
  .fadein {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1000ms;
  }

  .food {
    width: 500px;
    vertical-align: top;
  }

  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }

  .slick-next {
    right: -50px;
  }
  .slick-prev {
    left: -50px;
  }
}
