* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  ul {
    text-align: right;
  }

  li {
    display: inline;
  }
  .img-fluid {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: rgb(11, 136, 219);
  }
  .menu {
    line-height: 50px;
  }

  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .slick-arrow {
    width: initial;
    height: initial;
    z-index: 2;
  }
  .slick-arrow:before {
    font-size: 30px;
    color: #00bfff;
  }

  .fadein {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1000ms;
  }

  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
  }

  .restaurant {
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  ul {
    text-align: right;
  }

  li {
    display: inline;
  }
  .img-fluid {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
  .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: rgb(11, 136, 219);
  }
  .menu {
    line-height: 50px;
  }

  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .slick-arrow {
    width: initial;
    height: initial;
    z-index: 2;
  }
  .slick-arrow:before {
    font-size: 30px;
    color: #00bfff;
  }

  .fadein {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1000ms;
  }

  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .restaurant {
    text-align: center;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
}
